.image-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .image-slider img {
    width: 100%;
  }
  
  .image-title {
    margin-top: 20px;
  }
  
  .prev-btn,
  .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 36px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .prev-btn {
    left: 0;
  }
  
  .next-btn {
    right: 0;
  }
  